<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../public/styles.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="../public/script.js"></script>
   </head>
   <body>
      <header>
         <nav class="navbar">
            <div class="inner-width">
               <button class="menu-toggler" onclick="menuToggler(this)">
                  <span></span>
                  <span></span>
                  <span></span>
               </button>
               <div id="menu-toggle" class="navbar-menu">
                  <a>Entrar</a>
                  <a>registre-se</a>
                  <a>(00) 00000-0000</a>
                  <a>carrinho</a>
               </div>
               <strong class="logo">
                  <img src="https://www.dominik.com.br/media/logo/stores/1/2D-1_DOMINIK_copiar.png" alt="logo">
               </strong>
               <div class="mini-cart">
                  <a href="https://www.dominik.com.br/checkout/cart/">
                  </a>
               </div>
            </div>
            <div class="search-container">
               <form class="search-box" action="/action_page.php">
                 <input type="text" placeholder="Faça sua busca aqui..." name="search">
                 <button type="submit"><i class="fa fa-search"></i></button>
               </form>
             </div>
         </nav>
      </header>

      <div id="banner">
         <div class="banner-container">
            <a href="/arraia-de-ofertas-de-maquinas-e-ferramentas/c">
               <picture>
                  <source srcset="https://www.dominik.com.br/media/contentmanager/content/AF-9699-CAMPANHA-1920x610_1.jpg" media="(min-width: 768px)" alt="arraia">
                  <img src="https://www.dominik.com.br/media/contentmanager/content/AF-9699-CAMPANHA-768x500_1.jpg" alt="">
               </picture>
           </a>
         </div>
      </div>
      
      <div id="tabsProducts">

      </div>
      <div id="highlights">

      </div>

      <div id="brands">

      </div>

      <div id="categories">

      </div>
      <div id="lasted">

      </div>

      <div id="verified-reviews">

      </div>

      <footer class="page-footer">

      </footer>
   </body>
</html>